  * {
    unicode-bidi: plaintext;
  }

  .container {
    padding: 1em;
    margin-top: 1em;
  }

  .container,
  .card,
  .box,
  .navbar {
    border-radius: 15px;
  }

  .is-bordered-danger {
    border: 1px solid red;
  }

  html,
  body {
    background-color: #eaeaea;
  }

  .container {
    background-color: #ffffff;
  }

  hr {
    background-color: #000;
  }

  .is-unselectable {
    user-select: none;
  }

  @media (prefers-color-scheme: dark) {
    * {
      unicode-bidi: plaintext;
    }

    .container {
      padding: 1em;
      margin-top: 1em;
    }

    .container,
    .card,
    .box,
    .navbar {
      border-radius: 15px;
    }

    .is-bordered-danger {
      border: 1px solid red;
    }

    hr {
      background-color: #fff;
    }

    html,
    body {
      background-color: #000000;
    }

    .container {
      background-color: #0f1010;
    }

    .is-unselectable {
      user-select: none;
    }
  }
